<!-- Navigation-->
<nav class="navbar">
  <div class="container-fluid text-white">
    <div class="d-flex justify-content-around align-items-center" style="width: 100%;">
      <img src="../../../assets/icons/logo.svg" class="logo" alt="...">
      <p class="title h1 m-0">Личный кабинет</p>
      <img src="../../../assets/icons/account.svg" class="account" alt="...">
    </div>
  </div>
  <div class="line"></div>
</nav>

<!-- Bots list-->
<section class="page-section bots-list" id="about">
  <div class="d-flex justify-content-center">
    <img src="../../../assets/icons/arrow-left.svg" class="mx-5" alt="...">
    <div class="bot-item mx-3 text-white">
      <p class="text-center h2 pt-5 m-0">Бот 1</p>
      <p class="text-center pt-4 m-0">Дата создания:</p>
      <p class="text-center h2 m-0">00.00.0000</p>
      <p class="text-center pt-4 m-0">Количество участников:</p>
      <p class="text-center h2 m-0">N человек</p>
      <div class="pt-4 d-flex justify-content-center">
        <img src="../../../assets/icons/telegram.svg" class="mx-3" alt="...">
        <img src="../../../assets/icons/excel.svg" class="mx-3" alt="...">
      </div>
    </div>
    <div class="bot-item mx-3 text-white">
      <p class="text-center h2 pt-5 m-0">Бот 2</p>
      <p class="text-center pt-4 m-0">Дата создания:</p>
      <p class="text-center h2 m-0">00.00.0000</p>
      <p class="text-center pt-4 m-0">Количество участников:</p>
      <p class="text-center h2 m-0">N человек</p>
      <div class="pt-4 d-flex justify-content-center">
        <img src="../../../assets/icons/telegram.svg" class="mx-3" alt="...">
        <img src="../../../assets/icons/excel.svg" class="mx-3" alt="...">
      </div>
    </div>
    <div class="bot-item mx-3 text-white">
      <p class="text-center h2 pt-5 m-0">Бот 3</p>
      <p class="text-center pt-4 m-0">Дата создания:</p>
      <p class="text-center h2 m-0">00.00.0000</p>
      <p class="text-center pt-4 m-0">Количество участников:</p>
      <p class="text-center h2 m-0">N человек</p>
      <div class="pt-4 d-flex justify-content-center">
        <img src="../../../assets/icons/telegram.svg" class="mx-3" alt="...">
        <img src="../../../assets/icons/excel.svg" class="mx-3" alt="...">
      </div>
    </div>
    <img src="../../../assets/icons/arrow-right.svg" class="mx-5" alt="...">
  </div>
  <div class="row d-flex justify-content-center">
    <button type="button" class="btn text-white create-btn"><p class="h5 m-0">Создать нового</p></button>
  </div>
  <img src="../../../assets/images/dots-left.svg" class="position-absolute bottom-0 ms-4" alt="...">
</section>
