micro_services/GoogleSheetsService/GoogleSheetsService/appsettings.Development.json
micro_services/GoogleSheetsService/GoogleSheetsService/bin/
micro_services/GoogleSheetsService/GoogleSheetsService/obj/
micro_services/GoogleSheetsService/GoogleSheetsService/Properties/
micro_services/GoogleSheetsService/.vs/
micro_services/GoogleSheetsService/GoogleSheetsService/secretes.json
micro_services/GoogleSheetsService.sln
micro_services/GoogleSheetsService/GoogleSheetsService/Backend/Strings.cs
/micro_services/GoogleSheetsService/GoogleSheetsService/secretes.json
