micro_services/GoogleSheetsService/GoogleSheetsService/appsettings.Development.json
micro_services/GoogleSheetsService\GoogleSheetsService/appsettings.json
micro_services/GoogleSheetsService/GoogleSheetsService/GoogleSheetsService.csproj
micro_services/GoogleSheetsService/GoogleSheetsService/bin/
micro_services/GoogleSheetsService/GoogleSheetsService/obj/
micro_services/GoogleSheetsService/GoogleSheetsService/Properties/
micro_services/GoogleSheetsService/.vs/

# Ignore PyCharm settings files
.idea/
venv/
