<!-- Bot creation page -->
<section class="page-section bot-creation">
  <div class="row">
    <div class="col-5">
      <div class="row d-flex justify-content-center">
        <div type="button" class="my-3 add-btn d-flex justify-content-center align-items-center" (click)="lgModal1.show()">
          <p class="text-white fs-2 m-0">Название вопроса</p>
          <img src="../../../assets/icons/details.svg" class="details">
        </div>
        <div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Api Sheets token</h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal1.hide()" aria-label="Close">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="m-3">
                  <input type="text" [(ngModel)]="question" class="form-control" id="apiToken" placeholder="Введите токен">
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary" (click)="onQuestionSubmit()">Подтвердить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="add-btn d-flex justify-content-center align-items-center my-3">
          <input class="text-filed fs-2 m-0 text-white" type="text" placeholder="Тип ответа">
          <img src="../../../assets/icons/details.svg" class="details">
        </div>
        <div class="add-btn d-flex justify-content-center align-items-center my-3">
          <p class="fs-2 m-0 text-white">Валидация</p>
          <img src="../../../assets/icons/details.svg" class="details">
        </div>
        <div class="add-btn d-flex justify-content-center align-items-center my-3">
          <p class="fs-2 m-0 text-white">Еще что-то</p>
          <img src="../../../assets/icons/details.svg" class="details">
        </div>
      </div>
    </div>
    <div class="col-5 d-block ms-5">
      <div class="d-block board"></div>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn w-350 text-white create-btn">
          <p class="h4 m-0">Сохранить</p>
        </button>
        <button mat-dialog-close type="button" class="btn w-350 text-white create-btn">
          <p class="h4 m-0">Готово</p>
        </button>
      </div>
    </div>
  </div>
  <img src="../../../assets/images/dots-left.svg" class="position-absolute bottom-0 ms-4" alt="...">
</section>
