html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #14104b;
}

body {
  cursor: default;
  background-color: #14104b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
