main {
  background: #14104b;
  color: #ffffff;
  font-family: Montserrat, serif;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  min-height: 100%;
  position: relative;
}
.left-dots-1 {
  position: absolute;
  height: 300px;
  bottom: 1vw;
  left: 2vw;
  z-index: 1000;
}
.cards {
  background-color: #FFFFFF4D;
  border-radius: 30px;
}
.texts {
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}
.service {
  border-bottom: 3px solid #FF4D71;
  align-items: center;
  text-align: center;
}
.main-text {
  font-size: 22px;
}
.try {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.6);
  background: #14104b;
  width: 298px;
  height: 65px;
  font-family: Montserrat, serif;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  font-size: 22px;
}

@media (max-width: 1800px) {
  .left-dots-1 {
    height: 150px;
  }
}

@media (max-width: 991px) {
  .left-dots-1 {
    height: 200px;
  }
}

