<main>
  <img class="left-dots-1" src="../../../assets/img/left-dots.png" alt="">
  <div class="container col-xxl-10 px-0 py-2">
    <div class="row flex-lg-row-reverse g-lg-5 g-md-4 g-0 py-5 m-4 m-lg-0 service">
      <div class="col-12 col-lg-6 text-center">
        <img src="../../../assets/img/phone.png" class="mx-auto img-fluid" alt="" loading="lazy">
      </div>
      <div class="col-lg-6 main-text-lg p-0">
        <h1 class="fw-bold lh-1">Название сервиса</h1>
        <p class="lead pt-5 pb-5 main-text">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша
          команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из
          нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы.</p>
        <div class="justify-content-md-center text-center">
          <button class="btn btn-primary btn-lg px-5 me-md-2 border rounded-4 try" routerLink="/list">Попробовать</button>
        </div>
      </div>
    </div>
    <div class="mt-5 row align-items-md-center text-center">
      <div class="col-lg-4 col-md-12 p-md-5 p-lg-2 p-sm-5 p-5">
        <div class="p-4 cards">
          <p class="texts-lg">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша
            команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из
            нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 p-md-5 p-lg-2 p-sm-5 p-5">
        <div class="p-4 bg-opacity-75 cards">
          <p class="texts-lg">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша
            команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из
            нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 p-md-5 p-lg-2 p-sm-5 p-5">
        <div class="p-4 cards">
          <p class="texts-lg">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша
            команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из
            нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы.</p>
        </div>
      </div>
    </div>
  </div>
</main>
