<div class="container">
  <div class="bot-list"></div>
  <div class="button create-new"></div>
</div>

<div class="bot-item">
  <div class="_1">Бот 1</div>
  <div class="_00-00-0000">
  <span><span class="_00-00-0000-span">Дата создания: <br /></span><span class="_00-00-0000-span2">00.00.0000</span></span>
  </div>
  <div class="n">
    <span><span class="n-span">Количество участников: <br /></span><span class="n-span2">N человек</span></span>
  </div>
  <img class="image-17" src="image-17.png" />
  <img class="pngegg-4-1" src="pngegg-4-1.png" />
</div>
