@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

div {
  background-color: $color-dark;
}

// Карточка бота
.bot-item,
.bot-item * {
  box-sizing: border-box;
}
.bot-item {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  width: 286px;
  height: 395px;
  position: relative;
}

._1,
._1 * {
  box-sizing: border-box;
}
._1 {
  color: #ffffff;
  text-align: justified;
  font: 600 32px "Montserrat", sans-serif;
  position: relative;
}

._00-00-0000,
._00-00-0000 * {
  box-sizing: border-box;
}
._00-00-0000 {
  color: #ffffff;
  text-align: center;
  position: relative;
}
._00-00-0000-span {
  color: #ffffff;
  font: 400 16px "Montserrat", sans-serif;
}
._00-00-0000-span2 {
  color: #ffffff;
  font: 600 30px "Montserrat", sans-serif;
}

.n,
.n * {
  box-sizing: border-box;
}
.n {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.n-span {
  color: #ffffff;
  font: 400 16px "Montserrat", sans-serif;
}
.n-span2 {
  color: #ffffff;
  font: 600 30px "Montserrat", sans-serif;
}

.image-17,
.image-17 * {
  box-sizing: border-box;
}
.image-17 {
  width: 50px;
  height: 49px;
  position: relative;
}

.pngegg-4-1,
.pngegg-4-1 * {
  box-sizing: border-box;
}
.pngegg-4-1 {
  width: 49px;
  height: 49px;
  position: relative;
}

// Конец карточки
