<!-- Bot edit page -->
<section class="page-section bot-creation">
  <div class="row mb-3">
    <div class="col-10 m-auto">
      <div class="my-3 btn-place d-flex justify-content-around align-items-center">
        <button type="button" class="btn w-500 text-white create-btn">
          <p class="h4 m-0">Остановить</p>
        </button>
        <button type="button" class="btn w-500 text-white create-btn">
          <p class="h4 m-0">Рассылки</p>
        </button>
        <button type="button" class="btn w-500 text-white create-btn">
          <p class="h4 m-0">Группы пользователей</p>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="row d-flex justify-content-center flex-column">
        <button type="button" class="btn text-white my-3 add-btn m-auto">
          <img src="../../../assets/icons/details.svg" class="details">
          <p class="fs-2 m-0">Название бота</p>
        </button>
        <button type="button" class="btn text-white my-3 add-btn m-auto">
          <p class="fs-2 m-0">Api Sheets token</p>
          <img src="../../../assets/icons/details.svg" class="details">
        </button>
        <button type="button" class="btn text-white my-3 add-btn m-auto">
          <img src="../../../assets/icons/details.svg" class="details">
          <p class="fs-2 m-0">Telegram Bot Token</p>
        </button>
        <button type="button" class="btn w-500 mt-5 text-white create-btn m-auto" routerLink="/list">
          <p class="h4 m-0">Сохранить</p>
        </button>
      </div>
    </div>
    <div class="col-7 d-flex justify-content-center">
      <div class="board"></div>
    </div>
  </div>
  <img src="../../../assets/images/dots-left.svg" class="position-absolute bottom-0 ms-4" alt="...">
</section>
