@import '../../../styles/colors';
@import '../../../styles/fonts';

section {
  display: block;
}

.page-section {
  position: relative;
  height: calc(100vh - 188px);
}

.hide-navigation {
  margin-top: 100px;
}

.bot-list {
  background-color: #14104B;
}

.bot-item {
  position: relative;
  width: 286px;
  height: 395px;
  background-color: #FFFFFF4D;
  border-radius: 30px;
}

.bot-card {
  cursor: pointer;
}

.w-850 {
  width: 850px;
}

.w-500 {
  width: 500px;
}

.create-btn {
  height: 65px;
  border-radius: 20px;
  box-shadow: 0 0 1.5vw rgba(255, 255, 255, 0.8);
  margin-top: 110px;
}
// <<<<<<< Frontend-matpradkhan
:host ::ng-deep .hide-navigation .carousel-control-prev,
:host ::ng-deep .hide-navigation .carousel-control-next {
  display: none !important;
}
// =======
// >>>>>>> main
