<header class="border-bottom border-danger border-5">
  <div class="px-3 py-2" style="background: #14104b">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-">
        <a href="https://its-bmstu.ru" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="../../assets/img/logo.svg" alt="" class="logo-its">
        </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="https://vk.com/its_bmstu" class="nav-link text-secondary">
              <img src="../../assets/img/vk.svg" alt="" class="logo">
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <img src="../../assets/img/tg.svg" alt="" class="logo">
            </a>
          </li>
          <li>
            <a href="https://github.com/IT-S-BMSTU" class="nav-link text-white">
              <img src="../../assets/img/git.svg" alt="" class="logo">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
