<!-- Bot creation page -->
<section class="page-section bot-creation">
  <div class="row">
    <div class="col-5">
      <div class="row d-flex justify-content-center flex-column">
        <button type="button" class="btn text-white my-3 add-btn m-auto">
          <p class="fs-2 m-0">Api Sheets token</p>
          <img src="../../../assets/icons/details.svg" class="details">
        </button>
        <button type="button" class="btn text-white my-3 add-btn m-auto">
          <img src="../../../assets/icons/details.svg" class="details">
          <p class="fs-2 m-0">Telegram Bot Token</p>
        </button>
        <button type="button" class="play-btn mx-auto">
          <img src="../../../assets/icons/play.svg" class="play-img">
          <p class="fs-2 m-0 text-white">Запуск</p>
        </button>
      </div>
    </div>
    <div class="col-7 d-flex justify-content-center">
      <div class="board"></div>
    </div>
  </div>
  <img src="../../../assets/images/dots-left.svg" class="position-absolute bottom-0 ms-4" alt="...">
</section>
