@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.container-fluid {
  padding: 50px 0;
}

.navbar {
  display: block;
  position: relative;
  background-color: #05032C;
  padding: 0;
}

.line {
  height: 6px;
  background-color: #FF4D71;
  position: relative;
}
