<header *ngIf="routerOutletName === ''">
  <div class="px-2">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <a href="https://its-bmstu.ru" class="align-items-center my-1 my-lg-0 me-lg-auto" target="_blank">
          <img src="../../assets/img/logo.svg" alt="" class="logo-its">
        </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
          <li>
            <a href="https://vk.com/its_bmstu" class="nav-link" target="_blank">
              <img src="../../assets/img/vk.svg" alt="" class="logo">
            </a>
          </li>
          <li>
            <a href="https://t.me/%2BQPq019bYf3NkZjRi" class="nav-link" target="_blank">
              <img src="../../assets/img/tg.svg" alt="" class="logo">
            </a>
          </li>
          <li>
            <a href="https://github.com/IT-S-BMSTU" class="nav-link" target="_blank">
              <img src="../../assets/img/git.svg" alt="" class="logo">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<header *ngIf="routerOutletName !== ''">
  <nav class="navbar">
    <div class="container-fluid text-white">
      <div class="d-flex justify-content-around align-items-center" style="width: 100%;">
        <img src="../../assets/icons/logo.svg" class="logo-its" alt="...">
        <p class="title h1 m-0">{{headerTitles[routerOutletName]}}</p>
        <img src="../../assets/icons/account.svg" class="account" alt="...">
      </div>
    </div>
    <div class="line"></div>
  </nav>
</header>
