<!-- Bot creation page -->
<section class="page-section bot-creation">
  <div class="row">
    <div class="col-5">
      <div class="row d-flex justify-content-center">
        <button type="button" class="btn text-white my-3 add-btn">
          <p class="fs-2 m-0">Добавить текстовый блок</p>
          <img src="../../../assets/icons/details.svg" class="details">
        </button>
        <button type="button" class="btn text-white my-3 add-btn">
          <img src="../../../assets/icons/details.svg" class="details">
          <p class="fs-2 m-0">Добавить блок с кнопкой</p>
        </button>
        <button type="button" class="btn w-500 text-white create-btn">
          <p class="h4 m-0">Создать бота</p>
        </button>
      </div>
    </div>
    <div class="col-7 d-flex justify-content-center">
      <div class="board"></div>
    </div>
  </div>
  <img src="../../../assets/images/dots-left.svg" class="position-absolute bottom-0 ms-4" alt="...">
</section>
