@import '../../../styles/colors';
@import '../../../styles/fonts';

section {
  display: block;
}

.page-section {
  padding: 150px 0;
  position: relative;
  height: calc(100vh - 188px);
}

.container-fluid {
  padding: 50px 0;
}

.bot-creation {
  background-color: #14104B;
}

.w-850 {
  width: 850px;
}

.w-500 {
  width: 500px;
}

.create-btn {
  height: 65px;
  border-radius: 20px;
  box-shadow: 0 0 1.5vw rgba(255, 255, 255, 0.8);
  margin-top: 90px;
}

.add-btn {
  position: relative;
  height: 100px;
  width: 500px;
  background-color: #FFFFFF4D;
  border-radius: 30px;
}

.details {
  position: absolute;
  right: 8px;
  top: 8px;
}

.board {
  width: 750px;
  height: 550px;
  background-color: #FFFFFFCC;
  border-radius: 30px;
  position: relative;
  overflow: visible;
}

.scroll-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin: 20px;
}
.scroll {
  background-color: #14104B;
  cursor: pointer;
  border-radius: 30px;
}

:host ::ng-deep {
  display: block;
  height: inherit;
  width: inherit;
  .cardContainer {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    display: block;
    background: #14104B;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: relative;
    .name {
      font-family: Montserrat, serif;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0;
    }
  }
  .line {
    stroke: #14104B;
    z-index: 1;
  }
  .ngx-charts {
    .links {
      .link-group > svg {
        overflow: auto;
      }
    }
  }
}

.selected-node {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    outline: 5px dashed red;
    border-radius: 30px;
  }
  to {
    outline: 5px solid blue;
    border-radius: 30px;
  }
}

