<!-- Bot creation page -->
<section class="page-section bot-creation" *ngIf="isSectionVisible">
  <div class="row">
    <div class="col-5">
      <div class="row d-flex justify-content-center">
        <button type="button" class="btn text-white my-3 add-btn" (click)="addJsonQuestion()" routerLink="/add_text_block">
          <p class="fs-2 m-0">Добавить текстовый блок</p>
          <img src="../../../assets/icons/details.svg" class="details">
        </button>
        <button type="button" class="btn text-white my-3 add-btn" (click)="addJsonQuestion()" routerLink="/add_text_block">
          <ng-container (click)="$event.stopPropagation()">
            <img [popover]="'help'" class="details" src="../../../assets/icons/details.svg">
            <p class="fs-2 m-0">Добавить блок с кнопкой</p>
          </ng-container>
        </button>
        <button type="button" class="btn w-500 text-white create-btn" routerLink="/settings">
          <p class="h4 m-0">Создать бота</p>
        </button>
      </div>
    </div>
    <div class="col-7 d-flex justify-content-center">
      <div class="board">
        <app-graph></app-graph>
      </div>
    </div>
  </div>
  <img src="../../../assets/images/dots-left.svg" class="position-absolute bottom-0 ms-4" alt="...">
</section>
