.page-section {
  padding: 60px 0;
  position: relative;
  height: calc(100vh - 188px);
  background-color: #14104B;
}

.board {
  height: 500px;
}

.add-btn {
  position: relative;
  height: 100px;
  width: 600px;
  background-color: #FFFFFF4D;
  border-radius: 30px;
}

.play-btn {
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.play-img {
  width: 100px;
}

.loader-play {
  animation: rotation 2s linear infinite;
}

.loader-pause, .loader-play {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(0deg, rgba(127, 241, 71, 0.05) 40%, rgba(127, 241, 71, 1) 90%);
  box-sizing: border-box;
}

.loader-play::after, .loader-pause::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #14104B;
}

.pause-text, .play-text {
  display: flex;
  align-items: center;
  width: 350px;
  height: 500px;
  color: lightgray;
  font-size: 50px;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
  z-index: 10000;
}

.play-text {
  animation-name: fading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fading {
  0%, 100% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.95;
  }
}

@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
}
