<main>
  <img class="left-dots-1" src="../../assets/img/left-dots.svg" alt="">
  <div class="container col-xxl-10 px-0 py-2">
    <div class="row flex-lg-row-reverse align-it  ems-center g-5 py-5 text-center border-bottom border-danger border-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-5 pb-5">Название сервиса</h1>
        <p class="lead mb-5 pt-5" style="text-align: justify">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша
          команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из
          нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button type="button" class="btn btn-primary btn-lg px-5 me-md-2 border rounded-4 try">Попробовать</button>
        </div>
      </div>
    </div>
    <div class="mt-5 row align-items-md-center text-center">
      <div class="col-md-4">
        <div class="p-4 rounded-3 cards">
          <p style="text-align: justify">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша
            команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из
            нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы.</p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="h-100 p-4 bg-opacity-75 rounded-3 cards">
          <p style="text-align: justify">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша
            команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из
            нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-100 p-4 rounded-3 cards">
          <p style="text-align: justify">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша
            команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из
            нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы.</p>
        </div>
      </div>
    </div>
  </div>
</main>
