main {
  background: #14104b;
  color: #ffffff;
}
.left-dots-1 {
  position: absolute;
  height: 25vw;
  top: 38vw;
  left: 1vw;
  z-index: 1000;
}
.cards {
  background-color: #CBD4F3;
}
.try {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.6);
  background: #14104b;
}
