@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

section {
  display: block;
}

.page-section {
  position: relative;
  height: calc(100vh - 189px);
}

.bot-list {
  background-color: #14104B;
}

.bot-item {
  position: relative;
  width: 286px;
  height: 395px;
  background-color: #FFFFFF4D;
  border-radius: 30px;
}

.w-850 {
  width: 850px;
}

.w-500 {
  width: 500px;
}

.create-btn {
  height: 65px;
  border-radius: 20px;
  box-shadow: 0 0 1.5vw rgba(255, 255, 255, 0.8);
  margin-top: 150px;
}
